<section id="people">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <h2>People</h2>
        <p>We are a group of professionals and artisan chefs with a passion for culinary excellence.</p>
        <hr class="colored">
      </div>
    </div>
    <div class="row content-row">
      <div class="col-lg-12">
        <div class="about-carousel">
          <div class="item">
            <%= image_tag "culinary/people/1.jpg", :class => "img-responsive" %>
            <div class="caption">
              <h3>Alan Wimbledon</h3>
              <hr class="colored">
              <p><em>Owner</em>
              </p>
              <ul class="list-inline social">
                <li>
                  <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-envelope-o fa-fw"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="item">
            <%= image_tag "culinary/people/2.jpg", :class => "img-responsive" %>
            <div class="caption">
              <h3>Jeffery Howard</h3>
              <hr class="colored">
              <p><em>Executive Chef</em>
              </p>
              <ul class="list-inline social">
                <li>
                  <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-envelope-o fa-fw"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="item">
            <%= image_tag "culinary/people/3.jpg", :class => "img-responsive" %>
            <div class="caption">
              <h3>Kenny Williams</h3>
              <hr class="colored">
              <p><em>Executive Chef</em>
              </p>
              <ul class="list-inline social">
                <li>
                  <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-envelope-o fa-fw"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="item">
            <%= image_tag "culinary/people/4.jpg", :class => "img-responsive" %>
            <div class="caption">
              <h3>Steven Cooper</h3>
              <hr class="colored">
              <p><em>Executive Chef</em>
                <ul class="list-inline social">
                  <li>
                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-envelope-o fa-fw"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="item">
              <%= image_tag "culinary/people/5.jpg", :class => "img-responsive" %>
              <div class="caption">
                <h3>Francois Borde</h3>
                <hr class="colored">
                <p><em>Pastry Chef</em>
                  <ul class="list-inline social">
                    <li>
                      <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-envelope-o fa-fw"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="item">
                <%= image_tag "culinary/people/6.jpg", :class => "img-responsive" %>
                <div class="caption">
                  <h3>Thomas Cheung</h3>
                  <hr class="colored">
                  <p><em>Corkmaster</em>
                    <ul class="list-inline social">
                      <li>
                        <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-envelope-o fa-fw"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
