<%= render 'values' %>

<aside class="cta-quote" style="background-image: url('assets/culinary/bg-aside.jpg');">
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <span class="quote">Truly great food is a combination of quality ingredients, creativity, and attention to detail.</span>
      <hr class=" colored">
      <a href="#contact" class="btn btn-outline-light">Try Some of Ours</a>
    </div>
  </div>
</div>
</aside>

<%= render 'people' %>
<%= render 'press' %>
<%= render 'hours' %>
<%= render 'menu' %>
