<div class="container" id="user-dashboard">
  <%= render 'navbar' %>
  <%= render 'logo' %>

  <div class="col-md-12">
    <h1 class="text-center">My Account</h1>
    <hr>
  </div>

  <%= render 'account_nav' %>
  <%= render 'addresses' %>
  <%= render 'footer' %>
</div>
