<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/landing/head' %>

<!-- Alternate Body Classes: .modern and .vintage -->

<body id="page-top" class="modern">
  <%= render 'layouts/landing/nav' %>
  <%= render 'layouts/landing/header' %>
  <%= yield %>
  <%= render 'layouts/landing/footer' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
